* {
    margin: 0px;
    padding: 0px;
}
#main {
	width: 100%;   
}
#bside_left {
    width: 30%;
    height: 445px;   
    float: left;
    display: none;
}

#cur_city, #no_value {
    height: 20px;
    position: absolute;
    top: 27px;
    left: 10px;
}

#cur_city .change_city {
    margin-left: 5px;
    cursor: pointer;
}


#level {
    margin-left: 20px;
}


.logo_img {
    width: 172px;
    height: 23px;
}
.search_t {
    width: 249px;
    height: 28px;
  	outline: none;
 	border: 1px solid #c8cacb;
    line-height: 28px;
    font-size: 12px;
    display: block;
    padding-left: 10px;
    color: #333;

}

.search_c {
    float: left;
   
}

.btn, .btn_active {
    width: 85px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    float: left;  
    text-align: center;
    cursor: pointer;
    color: #fff;
    background: #637fb9;
    margin-left: 15px;
    border-radius: 3px;
    cursor: pointer;
}

.btn_active {
    background: url(./img/btn.png) -49px 0px;
}

.poi {
    width: 570px;
    height: 41;
    padding-top: 12px;
    float: left;
    position: relative;
    margin-top: 20px;
}

.poi_note {
    width: 63px;
    line-height: 26px;
    float: left;
}

#poi_cur {
    width: 160px;
    height: 22px;
    margin-right: 10px;
    margin-top: 3px;
    line-height: 26px;

    float: left;
    text-align: center;
}

#addr_cur {
    width: 260px;
    height: 22px;
    margin-right: 5px;
    margin-top: 3px;
    line-height: 26px;

    float: left;
    text-align: center;
}

.btn_copy {
    width: 49px;
    height: 24px;
    background: url(../img/btn_cpoy.png) 0px 0px;
    float: left;
}

.already {
    width: 52px;
    line-height: 26px;
    padding-left: 5px;
    float: left;
    color: red;
    display: none;
}

.info_list {
    margin-bottom: 5px;
    cleat: both;
    cursor: pointer;
}

#txt_pannel {
    height: 500px;
}

#city {
    width: 356px;
    height: 433px;
    padding: 10px;
    border: 2px solid #D6D6D6;
    position: absolute;
    left: 44px;
    top: 20px;
    z-index: 999;
    background: #fff;
    overflow: auto;
    color: black;
}

#city .city_class {
    font-size: 12px;
    background: #fff;
}

#city .city_container {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fff;
}

#city .city_container_left {
    width: 48px;
    float: left;
}

#city .city_container_right {
    width: 289px;
    float: left;
}

#city .close {
    width: 20px;
    height: 20px;
    display: inline-block;
    float: right;
    font-size: 20px;
    font-weight: normal;
    cursor: pointer;
}

#city .city_name {
    line-height: 20px;
    margin-left: 5px;
    color: #2F82C4;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
}

#curCity {
    margin-right: 5px;
}

.hide {
    display: none;
}

#bside_rgiht {
    width:100%;
    height:445px;
    float: left;
    font-size: 12px;
}
#container {
    width: 100%;
    height: 445px;
    float: left;
}

#no_value{
    color:red;
    position: relative;
    width:200px;
}